:root {
  --my-cb-icon-size: 1.3em;
}

body {
  background-color: #222;
  color: #f8f8f8;
  font-family: -apple-system, system-ui, sans-serif;
  margin: auto;
  max-width: 32rem;
  padding: 0 1rem;

  a[href] {
    color: #acf;
  }
}

footer {
  border-top: 1px dashed gray;
  margin-top: 3rem;
}

button {
  font-size: inherit;
  padding: .5rem 1rem;
}

output {
  background: #333;
  border: 1px dotted gray;
  border-radius: .2rem;
  display: inline-block;
  min-height: 1.1rem;
  min-width: 11rem;
  padding: .5rem;
}

/* Same class/functionality - different names?!
*/
my-combobox,
my-select-combobox,
my-autocomplete-combobox {
  display: inline-block;
  margin: 2rem 0;
}

my-select-combobox {
  --my-cb-input-width: 10rem;
  --my-cb-option-padding: .2rem .4rem;
}

* {
  outline-offset: .2rem;
  text-underline-offset: .25rem;
}
